<!--底部样式 -->
<div class="footer">
  <div class="foot_main">
    <p>业务咨询：446052055@qq.com 
    <%=link_to '联系我们','#', class: "black m10"%>
    技术支持：446052055@qq.com     
    <span class="ml10">电话：15996655506</span>
    </p>
</div>
</div>