<!DOCTYPE html>
<html>
  <head>
    <title>网站后台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> -->
    <meta http-equiv="x-ua-compatible" content="IE=edge" >
    <meta charset="utf-8">
    <%= csrf_meta_tag %>
   
  </head>
  <body>
    <%= yield %>
  </body>
</html>